@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

:root {
  --primary-color: #78dcc7;
  --dark-blue-color: #2d58a7;
  --yellow-color: rgba(254, 226, 120, 1);
  --yellow-color-opacity:  rgba(254, 226, 120, .4);
  --red-color: #ee6867;
  --gray-color: #f0f0f0;
  --white-color: #fff;
  --black-color: #000;
  --dark-gray-color: #d9d9d9;
  --blue-color: #266ef1;
  --light-blue-color: #CEEDFF;
  --green-color: #00C37D;

  --primary-font-family: "Raleway", sans-serif;
  --second-font-family: "Uber Move Text", sans-serif;
  --third-font-family: "Inter", sans-serif;

  --font-size: 14px;
  --font-size-lg: 15px;
  --font-size-xl: 16px;

  --shadow-dropdown-menu: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  --shadow-dropdown-form-select: 0 4px 16px 0 rgba(0, 0, 0, 0.12);
  --shadow-tooltip: 0 16px 48px 0 rgba(0, 0, 0, 0.22);

  --default-transition: ease .5s;
  
}


/* html {
  font-family: var(--primary-font-family), var(--second-font-family),  var(--third-font-family), "Helvetica", "Arial", sans-serif;
  font-size: var(--font-size);
}

* {
  transition: var(--default-transition);
} */

/* h1, .h1 {
  font-size: 1.5rem;
}

h2, .h2 {
  font-size: 1.25rem;
}

h3, .h3 {
  font-size: 1.14rem;
}

h1, h2, h3 {
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a, a:visited {
  color: var(--black-color);
  text-decoration: none;
  &:hover {
    color: var(--primary-color);
  }
}

button {
  border: none;
  outline: none;
  font-family: inherit;
} */